body{
	background-color: black;
}

@font-face {
  font-family: "Alumni Sans";
  font-style: normal;
  font-weight: 400;
  /* Браузер сначала попробует найти шрифт локально */
  src: local("Alumini Sans"),
       /* Если не получилось, загрузит woff2 */
       url("fonts/AluminiSans/AlumniSans-Thin.woff2") format("woff2"),
       /* Если браузер не поддерживает woff2, загрузит woff */
       url("fonts/AluminiSans/AlumniSans-Thin.woff") format("woff");
}

header.main-header{
	z-index: 100;
	background: black;
	position: relative;
}

header .header-logo-block{
	display: inline-block;
	float: left;
	width: 28%;
	padding-left: 5%;
}

header .main-logo-upper{
	width: 67%;
	margin: auto;
}

header .main-upper-menu{
	display: inline-block;
	width: 700px;
}

/*
.main-logo-upper{
	padding-left:15%;
	max-width: 82%;
}
*/

.main-upper-menu-item{
	color: white;
	font-family: 'Alumni Sans';
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
}


.main-upper-menu-item>ul>a{
	color: white;
	font-family: 'Alumni Sans';
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
}

 .main-upper-menu-body {
   display: flex;
}

.main-header .main-upper-menu-body ul {
   display: flex;
}

.main-upper-menu-body {
  display: flex;
  flex-wrap: wrap; /*перенос строки */
  justify-content: space-between; /*прижимает содержимое к краям */
  align-items: center; /*выравнивает элементы по центру на вертикальной */
}




.main-header .main-upper-menu-body ul {
  display: flex;
  list-style: none;
}

.main-header .main-upper-menu-body ul li {
  margin: 20px 10px;
}

.main-header .main-upper-menu-body ul a {
  text-decoration: none;
  font-weight: bold;
  color: white;
}

@media(max-width:1165px){
	.main-upper-menu{
		/*display:none;*/
	}
}

.upper-left-text{
	width: 40%;
	height: 650px;
	z-index: 50;
	display: inline-block;
}

.upper-gradient-part{
	width: 75%;
	height: 50%;
	background: linear-gradient(93.58deg, #00AA30 0%, #00D03A 100%);
	filter: blur(300px);
	z-index: 50;
}

.upper-left-points{
	position: absolute;
	left: 18%;
	top: 0%;
	z-index: 50;
}

.upper-left-text-block{
	position: absolute;
	left: 25%;
	top: 20%;
	z-index: 40;
	width: 28%;
	height: 30%;
}

.title-text{
	position: relative;
	font-family: 'Alumni Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 32px;
	line-height: 39px;
	color: #FFFFFF;
}

.body-text{
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 17px;
	line-height: 140%;
	color: #FFFFFF;
	
	margin-top: 25px;
}

.order-green-button{
	padding: 12px 24px 14px;
	gap: 10px;
	background: linear-gradient(93.58deg, #00AA30 0%, #00D03A 100%);
	border-radius: 8px;
	position: relative;
	margin-left: 0%;
	margin-top: 20px;
	font-family: 'Alumni Sans';
	font-style: normal;
	font-weight: 800;
	font-size: 24px;
	line-height: 29px;
	color: #FFFFFF;
}


.upper-right-text{
	width: 60%;
	height: 650px;
	z-index: 50;
	display: inline-block;
	float: right;
}

.upper-right-image{
	position: relative;
	width: 48%;
	margin-left: 25%;
	margin-top: 4%;
	z-index: 50;
}

.upper-right-points{
	position: absolute;
	top: -4%;
	left:60%;
	z-index: 40;
}


.second-line-items{
	position: relative;
	top: -90px;
	left: 15%;
	max-width: 70%;
	width: 70%;
}

.second-line-item{
	position:relative;
}

 .second-line-items-body {
   display: flex;
}

.second-line-items-body ul {
   display: flex;
}

.second-line-items-body {
  display: flex;
  flex-wrap: wrap; /*перенос строки */
  justify-content: space-between; /*прижимает содержимое к краям */
  align-items: center; /*выравнивает элементы по центру на вертикальной */
}

/*
.second-line-item>ul>a{
	color: white;
	font-family: 'Alumni Sans';
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
}
*/

/*
.second-line-item>ul>a{
	color: white;
	font-family: 'Alumni Sans';
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
}
*/

.second-line-items-body ul {
  display: flex;
  list-style: none;
}

.second-line-items-body ul li {
	margin: 20px 10px;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 10%;
	/* or 34px */
	color: #FFFFFF;
}
.second-line-items-body ul li {
	margin: 20px 10px;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 25px;
	/* or 34px */
	color: #FFFFFF;
}

.second-line-item>img{
	float: left;
}

.second-line-item-under{
	display: none;
	min-height: 100px;
}


/*
.second-line-items-body ul a {
  text-decoration: none;
  font-weight: bold;
  color: white;
}
*/

img.second-line-right-points{
	margin-left:85%;
	margin-top: -200px;
	width: 15%;
}

@media(max-width: 1024px){
	.upper-left-points{
		display: none;
	}
	
	.upper-right-image{
		width: 73%;
	}
	
	.upper-left-text-block{
		left: 2%;
		top:20%;
		width: 100%;
	}
	
	.body-text{
		width: 50%;
	}

	.upper-right-points{
		display: none;
	}
	
	header .main-upper-menu{
		display: inline-block;
		width: 567px;
	}
	
	header .main-upper-menu .main-upper-menu-item>a{
		font-size: 14px;
		
	}
	
	header .header-logo-block{
		width: 20%;
		padding-left: 5%;
	}
	
	header .main-logo-upper{
		width: 75%;
	}
	
	.main-header .main-upper-menu-body ul li{
		margin-top: 7px;
	}
	
	header.main-header{
		height: 34px;
	}
	
	.second-line-item-under{
		display: block;
		margin-top: 90px;
	}
	
	.second-line-item>span{
		display: none;
	}
	
	.second-line-items{
		max-width: 100%;
		width: 100%;
		left:0px;
	}
	
	img.second-line-right-points{
		display: none;
	}
	
	

}

