body{
	background-color: black;
}

.main-logo-upper{
	padding-left:15%;
	max-width: 82%;
}

.main-upper-menu-item{
	color: white;
	font-family: 'Alumni Sans';
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
}

 .main-upper-menu-body {
   display: flex;
}

.header .main-upper-menu-body ul {
   display: flex;
}

.main-upper-menu-body {
  display: flex;
  flex-wrap: wrap; /*перенос строки */
  justify-content: space-between; /*прижимает содержимое к краям */
  align-items: center; /*выравнивает элементы по центру на вертикальной */
}


.header .main-upper-menu-body ul {
  display: flex;
  list-style: none;
}

.header .main-upper-menu-body ul li {
  margin: 20px 10px;
}

.header .main-upper-menu-body ul a {
  text-decoration: none;
  font-weight: bold;
  color: white;
}

@media(max-width:1165px){
	.main-upper-menu{
		/*display:none;*/
	}
}