body{
	background-color: black;
}

@font-face {
  font-family: "Alumni Sans";
  font-style: normal;
  font-weight: 400;
  /* Браузер сначала попробует найти шрифт локально */
  src: local("Roboto"),
       /* Если не получилось, загрузит woff2 */
       url("fonts/AluminiSans/AlumniSans-Thin.woff2") format("woff2"),
       /* Если браузер не поддерживает woff2, загрузит woff */
       url("fonts/AluminiSans/AlumniSans-Thin.woff") format("woff");
}

header.main-header{
	z-index: 100;
	background: black;
	position: relative;
}

.main-logo-upper{
	padding-left:15%;
	max-width: 82%;
}

.main-upper-menu-item{
	color: white;
	font-family: 'Alumni Sans';
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
}


.main-upper-menu-item>ul>a{
	color: white;
	font-family: 'Alumni Sans';
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
}

 .main-upper-menu-body {
   display: flex;
}

.main-header .main-upper-menu-body ul {
   display: flex;
}

.main-upper-menu-body {
  display: flex;
  flex-wrap: wrap; /*перенос строки */
  justify-content: space-between; /*прижимает содержимое к краям */
  align-items: center; /*выравнивает элементы по центру на вертикальной */
}


.main-header .main-upper-menu-body ul {
  display: flex;
  list-style: none;
}

.main-header .main-upper-menu-body ul li {
  margin: 20px 10px;
}

.main-header .main-upper-menu-body ul a {
  text-decoration: none;
  font-weight: bold;
  color: white;
}

@media(max-width:1165px){
	.main-upper-menu{
		/*display:none;*/
	}
}

.upper-left-text{
	width: 55%;
	height: 650px;
	z-index: 50;
}

.upper-gradient-part{
	width: 75%;
	height: 50%;
	background: linear-gradient(93.58deg, #00AA30 0%, #00D03A 100%);
	filter: blur(300px);
	z-index: 50;
}

.upper-left-points{
	position: absolute;
	left: 25%;
	top: 0%;
	z-index: 50;
}

.upper-left-text-block{
	position: absolute;
	left: 32%;
	top: 20%;
	z-index: 40;
	width: 28%;
	height: 30%;
}

.title-text{
	position: relative;
	font-family: 'Alumni Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 32px;
	line-height: 39px;
	color: #FFFFFF;
}

.body-text{
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 17px;
	line-height: 140%;
	color: #FFFFFF;
	word-wrap: break-all;
	margin-top: 25px;
}

.order-green-button{
	padding: 12px 24px 14px;
	gap: 10px;
	background: linear-gradient(93.58deg, #00AA30 0%, #00D03A 100%);
	border-radius: 8px;
	position: absolute;
	left: 32%;
	top: 42%;
	font-family: 'Alumni Sans';
	font-style: normal;
	font-weight: 800;
	font-size: 24px;
	line-height: 29px;
	color: #FFFFFF;
}

@media(max-width: 1024px){
	.upper-left-points{
		display: none;
	}
}



